<p class="korduv" style="display:inline-block; width:29%; border:solid #c0c0c0 2px; border-radius:5px; padding:10px; margin:1%;">
<b><?php echo $kass['nimi']?></b> on <?php echo $kass['vanus']?>-aastane. Tema omanik on <?php echo $kass['omanik']?>, pildi leiate failist <?php echo $kass['pilt']?></p>
