div#frame{
	border:5px solid;
	border-left: 5px solid brown;
	border-top: 5px solid brown;
	border-right: 5px solid black;
	border-bottom: 5px solid black;
}
.row{
	/* reavahetus */
	clear:both;
	border:3px solid black;
	border-right:0px;
	border-left:0px;
	border-bottom:0px;
	margin-top:50px;
}
.bead-right{
	width:50px;
	height:50px;
	background:yellow;
	border-radius:50%;
	box-shadow:0px -11px 23px -3px black inset;
	float:right;
	margin-top:-25px;
}
.bead-left{
	width:50px;
	height:50px;
	background:yellow;
	border-radius:50%;
	box-shadow:0px -11px 23px -3px black inset;
	float:left;
	margin-top:-25px;
}