body{
	background:#0A24A9;
}
.duck{
	width:100%;
	height:100%;
	position:fixed;
}
div#main{ 
	margin-top:100px;
	margin-left:45%;
	width:100px;
	height:100px;
	position: fixed;
}

.circle1{ 
	margin-top:0px;
	margin-left:0px;
	width:100px;
	height:100px;
	border:1px solid black;
	border-radius:50%;
    background-color: white;
	position: absolute;
}

.circle2 { 
	margin-top:10px;
	margin-left:10px;
	width:80px;
	height:80px;
	border-radius:50%;
    background-color: red;
	position: absolute;
}
.circle3 { 
	margin-top:10px;
	margin-left:10px;
	width:60px;
	height:60px;
	border-radius:50%;
    background-color: white;
	position: absolute;
}
.circle4 { 
	margin-top:10px;
	margin-left:10px;
	width:40px;
	height:40px;
	border-radius:50%;
    background-color: red;
	position: absolute;
}
.circle5{ 
	margin-top:8px;
	margin-left:8px;
	width:25px;
	height:25px;
	border-radius:50%;
    background-color: white;
	position: absolute;
}
.circle6 { 
	margin-top:5px;
	margin-left:5px;
	width:15px;
	height:15px;
	border-radius:50%;
    background-color: red;
	position: absolute;
}