		<p>
			<label for="<?php echo "p".$i; ?>">
				<img src="<?php echo $dir."/".$failid[$i]; ?>" alt="<?php echo "nimetu ".$i; ?>" height="100" />
			</label>
			<input type="radio" value="<?php echo $i; ?>" id="<?php echo "p".$i;?>" name="pilt"/>
		</p>