<form action="?page=muuda" method="POST" enctype="multipart/form-data">
	<input type="text" name="nimi" placeholder="nimi" value="<?php echo $loom['NIMI']; ?>"/><br/>
	<input type="number" name="puur" placeholder="puur" value="<?php echo $loom['PUUR'];?>"/><br/>
	<input type="hidden" name="id" value="<?php if(isset($_GET['id'])) echo htmlspecialchars($_GET['id']); ?>">
	Näopilt: <input type="file" name="liik"/><br/>
	<input type="submit" value="Muuda"/> 
</form>
<?php if (isset($errors)):?>
		<?php foreach($errors as $error):?>
			<div style="color:red;"><?php echo htmlspecialchars($error); ?></div>
		<?php endforeach;?>
	<?php endif;?>